.loader-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1000
  background-color: rgba(0, 0, 0, 0.5)
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  .loader
    border: 16px solid transparent
    border-top: 16px solid #0d6efd
    border-bottom: 16px solid #0d6efd
    border-radius: 50%
    width: 120px
    height: 120px
    animation: spin 2s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

#settings
  position: absolute
  top: 10px
  right: 10px
  #settings-content
    display: none
    width: 400px
    height: 150px
    padding: 10px
    font-size: 16px
    #docForm
      margin-bottom: 10px
      label
        display: block
      
  #settings-button
    position: relative
    right: 5px
    top: 5px
    text-align: right
    img
      width: 25px
      height: 25px
      
    
#settings:hover
  border: 1px solid rgb(223, 225, 229)
  #settings-content
    display: block

.column
  display: flex
  flex-direction: column

#query-box
  display: flex
  flex-direction: row
  justify-content: center

#logo
  text-align: center
  margin-top: 70px
  margin-bottom: 30px
  h1
    font-size: 72px
#query-form
  display: flex
  flex-direction: row
  font-size: 20px
  div#query-input-wrapper
    width: 550px
    border: 1px solid rgb(223, 225, 229)
    border-radius: 1.5em
    input
      margin-left: 20px
      border: none
      width: 500px
      line-height: 3em
    input:focus-visible
      outline: none
  div#query-submit-wrapper
    display: flex
    flex-direction: row
    align-items: center
    margin-left: 15px

#query-results
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  #query-result-wrapper
    width: 900px
    .query-result
      margin-top: 12px
      display: flex
      flex-direction: row
      justify-content: space-between
      span
        font-size: 18px


